__pycache__/
*.pyc
*.pyo
*.pyd

venv/
.env
*.env

pip-log.txt
pip-delete-this-directory.txt
*.egg-info/
dist/
build/

*.log
logs/
debug.log

config.yaml
config.json
secrets.json

*.sqlite3
*.db
*.sqlite

model_files/

data/
temp/
tmp/

.vscode/
.idea/
*.iml

.ipynb_checkpoints/
